@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico.ttf");
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf");
}

@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans.ttf");
}

.category-cell {
  display: flex;
  align-items: center;
}

.category-cell::before {
  content: "";
  flex-grow: 1;
}

.category-cell > div {
  margin-left: 10px;
}
