@media all and (min-width:390px){
    .container{
        display: flex;
        flex-direction: row;
        margin-left: 3%;
        background-color:#F5E9CF;
        height: 110px;
        width: 360px;
        left: 0px;
        top: 0px;
        border-radius: 15px;

    }
    .info{
        margin-left: 3%;
        height: 30vh;
    }
    .info .name{
        color:  #52525C;
      left: 45.23%;
      right: 18.26%;
      top: 9%;
      bottom: 68%;
      font-family: 'Pacifico';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;

    }
    .info .description{
        left: 45.5%;
        right: 11.99%;
        top: 35%;
        bottom: 18%;
        color: #E96479;
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 150%;
    }
    .info .price{
        left: 80.11%;
        margin-left: 70%;
        top: 68%;
        bottom: 5%;

        font-family: 'Pacifico';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
    }
 
    .figure{
        height: 100px;
    }
    .image{
        max-width: 40vw;
        height: 100%;
        border-radius: 5px;
    }
}